<button role="button" class="ratio-1x1 deliverer__access bg-transparent" style="height: 30px;">
   <img class="h-100 ratio-1x1" src="/assets/delivrer.png" alt="">
</button>
<script>
   pageRouter.registerRoute("deliverer__access");
</script>