<button role="button" class="ratio-1x1 mx-2 d-flex align-items-center justify-content-center deliverer__access bg-transparent account" style="height: 30px;">
   <img class="h-100 ratio-1x1" src="/assets/user.png" alt="">
</button>
<script>
   pageRouter.registerRoute("account");
</script>