<button role="button" class="ratio-1x1 deliverer__access bg-transparent account" style="height: 30px;">
   <img class="h-100 ratio-1x1" src="/assets/user.png" alt="">
</button>
<script>
   pageRouter.registerRoute("account");
</script>