<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="main__content__title">
            <h1>Pizzeria Delapapa</h1>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Accusamus, aliquam, asperiores, atque, autem beatae
               consequuntur cumque debitis doloremque dolorum eaque eius
               eligendi, eveniet fugiat harum hic id impedit in ipsam
               ipsum itaque iure laboriosam libero magni maxime minima
               molestiae nam natus necessitatibus nemo neque nihil
               nostrum numquam odio officia omnis optio pariatur
               perferendis perspiciatis placeat quae quam quas quia quis
               quod ratione repellat reprehenderit repudiandae rerum
               saepe sapiente sequi similique sint soluta sunt tempora
               tenetur totam unde velit vero voluptas voluptate voluptates
               voluptatum.
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <ul>
            <% users.forEach(u => { %>
               <li><%= u.name %> <%= u.lastname %></li>
            <% }) %>
         </ul>
      </div>
   </div>
</div>