.cart__content::before {
   animation: bounce .1s ease-in-out forwards;
   content: "";
   position: absolute;
   aspect-ratio: 1/1;
   width: 10px;
   right: 4px;
   border-radius: 2px;
   background: white;
   --transformation: rotate(45deg) translateY(10px);
}

.item {
   transition: background .2s ease-in-out;
}

.item:hover {
   background: rgb(243, 243, 243);
}
