*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.go-btn{
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.go-btn a{
    color: #fff;
}

.circle
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--orange);
    clip-path: circle(600px at right);
}
