:root {
   --primary: #f77f00;
   /* TODO */

   --scrollbar-size: 4px;
}
*{
   margin: 0;
   padding: 0;
}

body{
   font-family: sans-serif;
}

#nav-bar{
   position: sticky;
   top: 0;
   z-index: 10;
}

.navbar{
   padding: 0 !important;
}

.navbar a{
   color: #fff;
}

.navbar-brand img{
   height: 40px;
   padding-left: 20px;
}

.navbar-nav li{
   padding:0 10px;
}

.navbar-nav li a{
   color: #fff !important;
   font-weight: 600;
   float: right;
   text-align: left;
}

.fa-bars{
   color: #fff;
   font-size: 30px !important;
}
.navbar-toggler{
   outline: none !important;
}
button {
   cursor: pointer;
   outline: none;
   border: none;
   user-select: none;
   transition: transform ease-in-out .2s;
}

button:focus {
   outline: none;
}

button:hover {
   transform: scale(1.1);
}
