:root {
   --primary: #f77f00;
   /* TODO */

   --scrollbar-size: 4px;
}

body {
   overflow-y: scroll;
   font-family: sans-serif;
}

* {
   margin: 0;
   padding: 0;
}

*::-webkit-scrollbar {
   width: var(--scrollbar-size);
   height: var(--scrollbar-size);
}

*::-webkit-scrollbar-thumb {
   background: var(--orange);
}

.navbar-brand img{
   height: 40px;
}

.navbar-nav li{
   padding:0 10px;
}

.navbar-nav li a{
   color: #fff !important;
   font-weight: 600;
   float: right;
   text-align: left;
}

.fa-bars{
   color: #fff;
   font-size: 30px !important;
}
.navbar-toggler{
   outline: none !important;
}
button {
   cursor: pointer;
   outline: none;
   border: none;
   user-select: none;
   transition: transform ease-in-out .2s;
}

button:focus {
   outline: none;
}

button:hover {
   transform: scale(1.1);
}
