<div class="container w-75 position-relative">
   <div class="row py-5 g-5">
      <div class="col-md-6">
         <h1 class="promo-title">Bienvenido a la pizzeria de la papa !</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Accusamus, aliquam, asperiores, atque, autem beatae
         consequuntur cumque debitis doloremque dolorum eaque eius
         eligendi, eveniet fugiat harum hic id impedit in ipsam
         ipsum itaque iure laboriosam libero magni maxime minima
         molestiae nam natus necessitatibus nemo neque nihil
         nostrum numquam odio officia omnis optio pariatur
         perferendis perspiciatis placeat quae quam quas quia quis
         quod ratione repellat reprehenderit repudiandae rerum
         saepe sapiente sequi similique sint soluta su3nt tempora
         tenetur totam unde velit vero voluptas voluptate voluptates
         voluptatum.</p>
         <a role="button" class="go-btn menu text-white d-inline-block bg-dark mt-4 px-3 py-2 rounded-pill text-uppercase text-decoration-none">C'est parti !</a>
      </div>
      <div class="col-md-6 d-flex align-items-center">
         <img src="assets/pizza.png" class="img-fluid">
      </div>
   </div>
   <div class="circle position-absolute top-0 start-50 ratio-1x1 rounded-circle bg-primary" style="height: 150%; z-index: -1;"></div>
</div>