<!-- TODO: Use boostrap -->

<section class="sec">
   <div class="circle"></div>
   <div class="content">
      <div class="textBox">
         <h1>Bienvenido a la pizzeria de la papa !</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Accusamus, aliquam, asperiores, atque, autem beatae
         consequuntur cumque debitis doloremque dolorum eaque eius
         eligendi, eveniet fugiat harum hic id impedit in ipsam
         ipsum itaque iure laboriosam libero magni maxime minima
         molestiae nam natus necessitatibus nemo neque nihil
         nostrum numquam odio officia omnis optio pariatur
         perferendis perspiciatis placeat quae quam quas quia quis
         quod ratione repellat reprehenderit repudiandae rerum
         saepe sapiente sequi similique sint soluta su3nt tempora
         tenetur totam unde velit vero voluptas voluptate voluptates
         voluptatum.</p>
         <a class="nav-link accueil">C'est parti !</a>
      </div>
      <div class="imgBox">
         <img src="assets/pizza.png" class="pizza">
      </div>
   </div>
</section>