      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/login.css">

      <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('assets/bg_2.jpg');"></div>
        <div class="contents order-2 order-md-1">
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7">
                <h3>Connection a <strong>La Pizzeria del papa</strong></h3>
                <p class="mb-4">Veuillez vous connectez à votre compte</p>
                <form method="post" id="login__form">
                  <div class="form-group first">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="votre-email@gmail.com" id="email">
                  </div>
                  <div class="form-group last mb-3">
                    <label for="password">mot de passe</label>
                    <input type="password" class="form-control" placeholder="votre mot-de-passe" id="password">
                  </div>
                  <input type="submit" value="Connection" class="btn btn-block btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
