<div class="container-fluid">
   <ul>
      <% menus.forEach(m => { %>
         <li><%= m.menu_name %> - <%= m.price %></li>
      <% }) %>
      <% products.forEach(m => { %>
          <li><%= m.name %> - <%= m.price %></li>
      <% }) %>
   </ul>
</div>