<link rel="stylesheet" href="css/login.css">

<div class="d-lg-flex half">
  <div class="bg order-1 order-md-2 appear-rtl" style="background-image: url('assets/bg_2.jpg');"></div>
  <div class="contents order-2 order-md-1 appear-ltr">
    <div class="container">
      <div class="row justify-content-center p-2 pt-4">
        <div class="col-md-7">
          <h3>Inscription a <strong>La Pizzeria Delapapa</strong></h3>
          <p class="mb-4">Veuillez vous créer un compte</p>
          <form id="register__form">
            <div class="form-group first mb-3">
              <label class="w-100">
                Nom
                <input type="text" required class="form-control mt-1" placeholder="Votre nom" id="nom">
              </label>
            </div>
            <div class="form-group mb-3">
              <label class="w-100">
                Prénom
                <input type="text" required class="form-control mt-1" placeholder="Votre prenom" id="prenom">
              </label>
            </div>
            <div class="form-group mb-3">
              <label class="w-100">
                Téléphone
                <input type="tel" required class="form-control mt-1" placeholder="Votre téléphone" id="phone">
              </label>
            </div>
            <div class="form-group mb-3">
              <label class="w-100">
                Email
                <input type="email" required class="form-control mt-1" placeholder="votre-email@gmail.com" id="email">
              </label>
            </div>
            <div class="form-group mb-3">
              <label class="w-100">
                Mot de passe
                <input type="password" required class="form-control mt-1" placeholder="Votre mot-de-passe" id="password">
              </label>
            </div>
            <div class="form-group last mb-3">
              <small class="fw-normal text-black-50 login" role="button" style="font-size: 14px">Se connecter</small>
            </div>
            <input type="submit" value="Inscription" class="btn btn-block btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  pageRouter.registerRoute("login");

  $("#register__form").on("submit", function(e) {
    e.preventDefault();
    const name = $("#nom").val();
    const lastname = $("#prenom").val();
    const phone_num = $("#phone").val();
    const email = $("#email").val();
    const password = $("#password").val();
    fetch("/signup", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        name,
        lastname,
        phone_num,
        email,
        password
      })
    })
      .then(res => {
        const status = res.status;
        if (status !== 200) {
          res.json().then(data => {
            alert.show(data.message, AlertType.DANGER);
          });
          throw new Error("Error");
        }
        res.json().then(data => {
          localStorage.setItem("access_token", data.token);
          pageRouter.go("menu");
          $("#login").remove();
          auth();
        });
      })
      .catch(err => {
        console.log(err);
      });
  });
</script>